*{
    margin: 0;padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #ddd;
}
nav{
    width: 100%;
    height: 80px;
    background-color: #5E1675;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 10000;
}
nav span{
    font-size: 28px;
    font-weight: 900;
    color: #FFD23F;
    border: 1px solid #FFD23F;
    box-sizing: border-box;
    padding: 5px 10px;
    cursor: pointer;
    user-select: none;
    transition: 0.5s;
}
nav span:hover{
    background-color: #FFD23F;
    color: white;
}
nav ul{
     /* display: flex; */
    gap: 20px; 
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;    
    font-weight: 700;
    color: #FFD23F;
    position: relative;
}
nav ul li a::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: white;
    bottom: -3px;
    transition: all ease 0.5s;

}
nav ul li a:hover::before{
    width: 100%;
}

nav #check{
    display: none;
}
nav label{
    display: none;
    font-size: 25px;
    font-weight: 700;
}
.btn-1{
    transition: all ease 0.5s;
    cursor: pointer;
    color: #FFD23F;
}
@media(max-width:768px){
    nav span{
        font-size: 20px;
        font-weight: 900;
        letter-spacing: 1px;
    }
    nav ul{
        position: fixed;
        background-color: #337357;
        top: 80px;
        width: 100%;
        height: 100vh;
        text-align: center;
        left: -100%;
        transition: all ease 0.5s;
    }
    nav label{
        display: block;
    }
    nav ul li{
        display: block;
        margin-top: 20px;
    }
    #check:checked~ul{
        left: 0;
    }
    #check:checked~.btn-1{
        transform: rotate(90deg);
    }
}
section{
    /* margin-top: 100px; */
    width: 100%;
    height: 100vh;
    background-color: black;
}
